<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cámara en vivo</title>
</head>
<body>
    <h1>Acceso a la Cámara en Vivo</h1>
    <video id="video" width="100%" height="auto" autoplay></video>

    <script>
        // Acceder a la cámara
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                // Mostrar el video en el elemento <video>
                var video = document.getElementById('video');
                video.srcObject = stream;
            })
            .catch(function (error) {
                console.log("Error al acceder a la cámara: ", error);
            });
    </script>
</body>
</html>
